/*header*/
#home {
    width: 100vw;
    background-color: #DFE4EA;
    height: 30px
}

#home > nav > p > a:link {
    color: black;
}

#home > nav > p > b > a:visited {
    color: black;
}

#home > nav > p > b > a:hover {
    color: #bf2cf5;
}

header nav p {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header nav p a {
    font-style: unset;
    font-size: 20px;
    text-align-all: right
}

/*main*/

#homeMainSelection {
    background-color: #2F3542;
    height: 100vh;
    width: 100vw;
}

#homeMainSelection > aside > h1 {
    font-size: 65px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 60px;
}

#homeMainSelection > aside > h1 > p {
    font-size: 40px;
    color: #d6d9d4;
    margin-top: 0px;
    margin-bottom: 0px;
}

#homeMainSelection > aside > p {
    width: 500px;
    font-size: 20px;
    color: #DFE4EA;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 60px;
    padding-top: 15px;
}


/*contactNavigation*/

#contactNavigationSelection {
    background-color: #747D8C;
    height: 50px;

}

#contactNavigationSelection > nav > p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contactNavigationSelection > nav > p>a{
   color: black;
}

#contactNavigationSelection > nav > p>a:hover{
   color: white;
    url("")
}

    /*about*/
#about {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

#about > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 5vh;
}

#about > section > aside > img {
    border-radius: 20%;
    border: 2px solid black;

}

#about > section > p {
    font-size: 30px;
    width: 500px;
    text-align: justify;
    padding-left: 15vw;
    text-shadow: 1px 1px 2px #fafafa, 0 0 1em #fafafc, 0 0 0.2em #0f0f15;
}

/*Education*/
#education {
    background-color: #576574;
    height: 500px;
    width: 100vw;
}

#education > h1 {
    text-align: center;
    color: #DFE4EA;
    font-size: 50px;
}

#mainHr{
    height: 75vh;
    width: 2vw;
}


/*Skill*/
#skill {
    background-color: #A5B1C2;
    height: 100vh;
    width: 100vw;
}

/*Skill-->Languages*/
#skill > section:first-child > b > u {
    color: #F8EFBA
}

#skill > section:first-child > b > u > h1 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

/*Skill-->Tools*/
#skill > section:nth-child(2) > b > u {
    color: #F8EFBA
}

#skill > section:nth-child(2) > b > u > h1 {
    font-size: 40px;
    text-align: center;
    color: #F8EFBA;
    font-style: italic;
}

/*Project*/

#projects section:first-child {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#projects section:first-child > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
}

/*course Work*/
#projects section:nth-child(2) {
    background-color: #A5B1C2;
    height: 100vh;
    width: 100vw;
}

#projects section:nth-child(2) > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
}

/*Gallery*/
#gallery {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#gallery > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
}

/*Contact*/

#contact {
    background-color: #808E9B;
    height: 100vh;
    width: 100vw;
}

#contact > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 5vh;
}

#contact section:nth-child(2) > p {
    text-align: left;
    width: 160px;
}

.contact {
    font-size: 28px;
}

/*contact form*/
#email, #name, #feedback, #formSubmit {
    background-color: #C4C4C4;
    color: white;
}

/*footer*/

footer {
    background-color: #808E9B;
    width: 100vw;
}

footer > nav > p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 150px 15px 150px;
    color: white;
    font-size: 3vh;
}

footer > nav > p > a {
    font-size: 20px;
    alignment: right;
    color: white
}

footer > nav > p > a:hover {
    color: #5203af;
}

footer > nav > p > a:first-child {
    margin-right: 5vw;
    margin-left: 5vw;
}

footer > nav > p > a:nth-child(2) {
    margin-right: 5vw;
    margin-left: 5vw;
}

footer > nav > p > a:nth-child(3) {
    margin-right: 5vw;
    margin-left: 5vw;
}

footer > nav > p > a:last-child {
    margin-right: 5vw;
    margin-left: 5vw;
}