/*header*/
#home {
    width: 100vw;
    background-color: #DFE4EA;
    height: 30px;
    position: fixed;
    z-index: 500;
}

#home > nav > P > b > a {
    position: relative;
    font-style: unset;
    font-size: 20px;
    text-align-all: right
}

#home > nav > P > b > a:first-child {
    left: 50vw;
    top: 0px;
}

#home > nav > P > b > a:nth-child(2) {
    left: 52vw;
    top: 0px;
}

#home > nav > P > b > a:nth-child(3) {
    left: 54vw;
    top: 0px;
}

#home > nav > P > b > a:nth-child(4) {
    left: 56vw;
    top: 0px;
}

#home > nav > P > b > a:nth-child(5) {
    left: 58vw;
    top: 0px;
}


#home > nav > p > a:link {
    color: black;
}

#home > nav > p > b > a:visited {
    color: black;
}

#home > nav > p > b > a:hover {
    color: #bf2cf5;
}

header nav p {
    padding-left: 30px;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}



/*main*/

#homeMainSelection {
    background-color: #2F3542;
    height: 100vh;
    width: 100vw;
}

#homeMainSelection>section:first-child>img{
    width: 30vw;
    border-radius: 100%;
    position: absolute;
    right: 100px;
    top: 150px;
}

#homeMainSelection > aside > h1 {
    font-size: 65px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 128px;
    left: 50px;
}

#homeMainSelection > aside > h1 > p {
    font-size: 40px;
    color: #d6d9d4;
    margin-top: 0px;
    margin-bottom: 0px;
}

#homeMainSelection > aside > p {
    position: relative;
    width: 39vw;
    font-size: 21px;
    color: #DFE4EA;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    top: 135px;
    left: 50px;
}


/*contactNavigation*/

#contactNavigationSelection {
    background-color: #747D8C;
    height: 55px;

}

#contactNavigationSelection>nav>img:first-child{
    padding-left:4vw;
}

#contactNavigationSelection > nav > a{
    font-size: 20px;
    color: black;
    position: relative;
}
#contactNavigationSelection > nav > a:hover{
    color: white;
}

#contactNavigationSelection > nav > a:nth-child(2) {
    bottom: 8px;
}

#contactNavigationSelection > nav > img:nth-child(3) {
    padding-top: 6px;
}

#contactNavigationSelection > nav > a:nth-child(4) {
    bottom: 8px;
}

#contactNavigationSelection > nav > a:nth-child(5) {
    left: 30vw;
}

#contactNavigationSelection > nav > a:nth-child(6) {
    left: 31vw;
    top: 4px;
}

#contactNavigationSelection > nav > a:nth-child(7) {
    left: 32vw;
    top: 4px;
}

#contactNavigationSelection > nav > a:nth-child(8) {
    left: 33vw;
}

#contactNavigationSelection > nav > a:nth-child(9) {
    left: 34vw;
}


    /*about*/
#about {
    background-color: #ffffff;
    height: 800px;
    width: 100vw;
    position: relative;
}

#about > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 5vh;
}

#about > section > aside > img {
    width: 25vw;
    border: 8px solid #595a4d;
    position: absolute;
    right: 65px;
    top: 158px;
    border-top-left-radius: 32%;
    border-bottom-right-radius: 34%;
}

#about > section > p {
    font-size: 30px;
    height: 75vh;
    width: 40vw;
    text-align: justify;
    padding-left: 15vw;
    padding-top: 10vh;
    text-shadow: 1px 1px 2px #fafafa, 0 0 1em #fafafc, 0 0 0.2em #0f0f15;
}

/*Education*/
#education {
    background-color: #576574;
    width: 100vw;
    position: relative;
}

#education > h1 {
    text-align: center;
    color: #DFE4EA;
    font-size: 50px;
    position: relative;
    font-weight: bolder;
}

#education > section {
    position: relative;
    width: 0.5vw;
    height: 50vh;
    background-color: #cee390;
    left: 50vw;
    bottom: 10px;
    border-radius: 15px;
}

#education > .shortBar {
    width: 7vw;
    height: 6px;
    border-radius: 100%;
    background-color: #e3dfd7;
    position: absolute;
}

#education > div {
    position: absolute;
}

#education > div:nth-child(3) {
    top: 12vh;
    left: 50.5vw;
}

#education > div > p {
    font-size: 20px;
    color: white;
}

#education > div > p > span {
    font-size: 25px;
    font-weight: bold;
}

#education > div:nth-child(4) {
    left: 58vw;
    top: 6vh;
}

#education > div:nth-child(5) {
    top: 20vh;
    left: 43vw;
}

#education > div:nth-child(6) {
    top: 16.5vh;
    left: 32vw;
    alignment: right;
}

#education > div:nth-child(7) {
    top: 27.5vh;
    left: 50.5vw;
}

#education > div:nth-child(8) {
    top: 22.5vh;
    left: 58vw;
}

#education > div:nth-child(9) {
    top: 35.5vh;
    left: 43vw;
}

#education > div:nth-child(10) {
    top: 29.5vh;
    left: 26.5vw;
}

#education > div:nth-child(11) {
    top: 46.5vh;
    left: 50.5vw;
}

#education > div:nth-child(12) {
    top: 41.5vh;
    left: 58vw;
}
#education > div:nth-child(13) {
    width: 50px;
    height: 50px;
    background-color: red;
}

/*Skill*/
#skill {
    background-color: #A5B1C2;
    height: 100vh;
    width: 100vw;
}

/*Skill-->Languages*/
#skill > section:first-child > b > u {
    color: #F8EFBA
}

#skill > section:first-child > b > u > h1 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

/*Skill-->Tools*/
#skill > section:nth-child(2) > b > u {
    color: #F8EFBA
}

#skill > section:nth-child(2) > b > u > h1 {
    font-size: 40px;
    text-align: center;
    color: #F8EFBA;
    font-style: italic;
}

/*Project*/

#projects section:first-child {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#projects section:first-child > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
}

/*course Work*/
#projects section:nth-child(2) {
    background-color: #A5B1C2;
    height: 100vh;
    width: 100vw;
}

#projects section:nth-child(2) > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
}

/*Gallery*/
#gallery {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#gallery > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
}

/*Contact*/

#contact {
    background-color: #808E9B;
    height: 100vh;
    width: 100vw;
}

#contact > h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 5vh;
}

#contact section:nth-child(2) > p {
    text-align: left;
    width: 160px;
}


.contact {
    font-size: 28px;
    color: black;
}
.contact:active{
    color: white;
}


/*contact form*/
#email, #name, #feedback, #formSubmit {
    background-color: #C4C4C4;
    color: white;
}

/*footer*/

footer {
    background-color: #808E9B;
    width: 100vw;
}

footer > nav > p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 150px 15px 150px;
    color: white;
    font-size: 3vh;
}

footer > nav > p > a {
    font-size: 20px;
    alignment: right;
    color: white
}

footer > nav > p > a:hover {
    color: #5203af;
}

footer > nav > p > a:first-child {
    margin-right: 5vw;
    margin-left: 5vw;
}

footer > nav > p > a:nth-child(2) {
    margin-right: 5vw;
    margin-left: 5vw;
}

footer > nav > p > a:nth-child(3) {
    margin-right: 5vw;
    margin-left: 5vw;
}

footer > nav > p > a:last-child {
    margin-right: 5vw;
    margin-left: 5vw;
}